.navbar {
    margin-left: 5px;
    margin-right: 5px;
}
.hero-section {
display: flex;
justify-content: space-around;
align-items: center;
background-color: rgb(36, 168, 191);
width: 100%;
padding-top: 20px;
height: 85vh;
}
.description {
    margin-right: 120px;
    padding-right: 1000px;
    
}
.image{
    width: 450px;
    height: 500px;
}